@use '../_helpers' as *;

.header {
  .container {
    background-color: var(--white-bg);
    border-radius: var(--radius-10);

    &_content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}