@use './_variables' as *;

:root {
  /*FONT*/
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*BACKGROUND COLORS*/
  --white-bg: #ffffff;
  --bg-page: #f5f6fa;
  --bg-header-scrolled: #09090bab;
  --light-blue-bg: #f2f8fe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*COLOR PALETTE*/
  --primary: #0060e3;
  --primary-hover: #0051c3;
  --secondary: #f5f6fa;
  --secondary-hover: #e1e2e8;
  --green: #16b361;
  --green-bg: #dbf5e3;
  --green-bg-hover: #c1e9ce;
  --green-hover: #12914c;
  --yellow: #ddba41;
  --yellow-bg: #fdf3da;
  --yellow-bg-hover: #f9e6b8;
  --yellow-hover: #c99e34;
  --error: #ff4d4d;
  --error-hover: #e04343;

  /*FONT WEIGHTS*/
  --bold: 700;
  --medium: 500;
  --thin: 300;

  /*TEXT COLORS*/
  --text-grey: #6e6e6e;
  --text-black: #1e1e1e;
  --text-white: #f9f9f9;

  /*ASPECT RATIOS*/
  --16-9: 56.25%;
  --4-5: 125%;
  --1-1: 100%;

  /*TYPOGRAPHY*/
  --title-1: #{$title-1};
  --title-2: #{$title-2};
  --title-3: #{$title-3};
  --paragraph: #{$paragraph};
  --nav-link: #{$nav-link};

  /*BORDERS RADIUS*/
  --radius-50: #{$radius-50};
  --radius-20: #{$radius-20};
  --radius-10: #{$radius-10};
}

/* Dark theme overrides */
:root[data-theme='dark'], [data-theme='dark'] {
  --white-bg: #121212;
  --bg-page: #0b0b0b;
  --text-black: #f3f3f3;
  --text-white: #fff;
  --primary: #3b82f6;


  h1, h2, h3, p, a, span, li {
    color: var(--text-white);
  }
}
