@use './_variables' as *;

:root {
  /*FONT*/
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-black);

  /*BACKGROUND COLORS*/
  --white-bg: #ffffff;
  --bg-page: #f5f6fa;
  --bg-header-scrolled: #09090bab;
  --light-blue-bg: #f2f8fe;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*COLOR PALETTE*/
  --primary: #0060e3;
  --primary-hover: #0051c3;
  --primary: #f5f6fa;
  --primary-hover: #e1e2e8;
  --secondary: #ffffff;
  --secondary-hover: #fdfdff;
  --secondary-outline: #a3a7b7;

  --svg-color: #000;

  /*FONT WEIGHTS*/
  --bold: 700;
  --medium: 500;
  --thin: 300;

  /*TEXT COLORS*/
  --text-grey: #6e6e6e;
  --text-black: #1e1e1e;
  --text-white: #f9f9f9;

  /*ASPECT RATIOS*/
  --16-9: 56.25%;
  --4-5: 125%;
  --1-1: 100%;

  /*TYPOGRAPHY*/
  --title-1: #{$title-1};
  --title-2: #{$title-2};
  --title-3: #{$title-3};
  --title-1-mobile: #{$title-1-mobile};
  --title-2-mobile: #{$title-2-mobile};
  --title-3-mobile: #{$title-3-mobile};
  --paragraph: #{$paragraph};
  --nav-link: #{$nav-link};

  /*BORDERS RADIUS*/
  --radius-50: #{$radius-50};
  --radius-20: #{$radius-20};
  --radius-10: #{$radius-10};
}

/* Dark theme overrides */
:root[data-theme='dark'] {
  --white-bg: #1a1a1a;
  --bg-page: #0b0b0b;
  --text-black: #1e1e1e;
  --text-white: #f9f9f9;
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --primary: #0b0b0b;
  --primary-hover: #e1e2e8;
  --secondary: #1a1a1a;
  --secondary-hover: #fdfdff;
  --secondary-outline: #a3a7b7;

  --svg-color: #f9f9f9;


  h1, h2, h3, p, a, span, li {
    color: var(--text-white);
  }

  .user-table  {
    th {
      color: var(--text-white);
    }

    td {
      border-bottom-color: #2c2c2c;
    }
  }

  .accordion-toggle {
    .accordion-icon {
      svg {
        stroke: var(--svg-color) !important;
      }
    }
  }

  .btn {
    &-primary {
      background: var(--primary);
      color: var(--text-black);
      border: 2px solid transparent;

      &:hover {
        border: 0;
        border: 2px solid var(--primary-hover);
      }
    }

    &-secondary {
      background: var(--secondary);
      color: var(--text-white);
      border: 2px solid transparent;

      &:hover {
        border: 0;
        border: 2px solid var(--secondary-outline);
      }
    }
  }
}
