@use './_helpers' as *;

// SASS VARIABLES FOR REM VALUES
$title-1: rem(35px);
$title-2: rem(20px);
$title-3: rem(15px);
$title-1-mobile: rem(28px);
$title-2-mobile: rem(18px);
$title-3-mobile: rem(14px);
$nav-link: rem(15px);
$paragraph: rem(14px);

$radius-50: rem(50px);
$radius-20: rem(20px);
$radius-10: rem(10px);
