@use '../_helpers' as *;
@use '../_utilities' as *;

.btn {
  padding: rem(10px) rem(20px);
  border-radius: var(--radius-10);
  border: 1px solid transparent;
  color: var(--text-black);
  cursor: pointer;
  font-weight: var(--medium);

  &-primary {
    background-color: var(--primary);
    color: var(--text-white);   

    &:hover {
      background-color: var(--primary-hover);
    }
  }

  &-secondary {
    background-color: var(--secondary);
    color: var(--text-black);

    &:hover {
      background-color: var(--secondary-hover);
    }

    &--edit {
      padding: rem(10px) rem(15px);
      padding-top: rem(8px);
    }

    &--delete {
      padding: rem(10px) rem(12px);
      padding-top: rem(8px);
    }
  }

  &-green {
    background-color: var(--green);
    color: var(--text-white);

    &:hover {
      background-color: var(--green-hover);
    }
  }

  &-error {
    background-color: var(--error);
    color: var(--text-white);

    &:hover {
      background-color: var(--error-hover);
    }
  }
}
