/* CARD STYLES */

.card {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--card-bg);
  box-shadow: var(--box-shadow);
  transition: box-shadow 300ms;

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }

  &.p-3 {
    padding: 1rem;
  }

  &.my-3 {
    margin: 1rem 0;
  }
}