@use '../utilities' as *;

h1 {
  font-size: var(--title-1);
  font-weight: var(--bold);
  line-height: 1.2;
}

h2 {
  font-size: var(--title-2);
  font-weight: var(--bold);
  line-height: 1.2;
}

h3 {
  font-size: var(--title-3);
  font-weight: var(--bold);
  line-height: 1.2; 
}
